@import "../../styles/variaveis.scss";

.container {
  contain: content;
}

.header {
  background-color: $primary;
  position: sticky;
  top: 0;
}

.header-shadow {
  box-shadow: 0px 15px 20px 20px rgba(0, 0, 0, 0.17);
}

.header-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 5vw 2vh 5vw;
}

.content {
  background-color: $gray-light;
  padding: 2vh 2vw 2vh 2vw;

  &-flex {
    display: flex;
    justify-content: space-around;
  }

  &-container {
    display: flex;
    flex-direction: column;
    width: 55vw;

    > span:first-child {
      color: #858bff;
      padding: 5px 0px 0px 5px;
    }

    > span:nth-child(2) {
      padding: 5px 5px 25px 5px;
    }

    &-button {
      padding: 0px 0px 0px 5px;

      > button {
        border: none;
        border-radius: 6px;
        background: #424cd6;
        color: $white;
        height: 35px;
        cursor: pointer;
        outline: none;
      }
    }
  }

  .img-bg {
    width: 45vw;
  }
}

.content-prototype {
  background: $white;
}

.screen {
  text-align: center;

  &-img {
    padding: 5px 5px 5px 5px;
  }

  &-descriptions {
    padding: 25px;
    text-align: justify;

    > span:first-child {
      font-weight: $font-weight-bold;
    }

    > p {
      padding-top: 15px;
    }
  }
}

.logo {
  padding-right: 5px;
}

.icon {
  color: $white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-icon {
  background: transparent;
  border: 1.5px solid $white;
  border-radius: 6px;
  outline: none;
}

.footer {
  background-color: $black;
  display: flex;
  padding: 20px;

  &-content {
    display: flex;
  }

  &-logo {
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
    color: $white;
    width: 45vw;

    > img {
      width: 15vw;
    }

    > span {
      padding-top: 20px;
      text-align: justify;
      font-size: 14px;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;
    color: $white;
    padding-right: 5vw;

    > span {
      color: #35d8b9;
      border-bottom: 1px solid;
    }

    > a {
      cursor: pointer;
      font-size: 14px;
      padding-top: 10px;
    }

    > a:hover {
      color: #a3ffe5;
    }
  }

  &-contatos {
    display: flex;
    flex-direction: column;
    color: $white;

    > span {
      color: #35d8b9;
      border-bottom: 1px solid;
    }

    > a {
      font-size: 14px;
      display: flex;
      align-items: center;
      padding-top: 10px;

      > i {
        padding-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &-span {
      &-experimente {
        display: none;
      }

      &-login {
        display: none;
      }
    }
  }

  .content {
    &-container {
      line-height: 4vh;
      > span:first-child {
        font-size: $font-size-16;
      }

      > span:nth-child(2) {
        font-size: 25px;
      }

      &-button {
        > button {
          width: 25vw;
        }
      }
    }

    .img-bg {
      > img {
        width: 40vw;
      }
    }
  }

  .screen {
    &-img {
      width: 80vw;
    }

    &-descriptions {
      > span:first-child {
        font-size: $font-size-18;
      }

      > p {
        font-size: $font-size-14;
      }
    }
  }

  .icon {
    font-size: 28px;
  }

  .footer {
    &-logo {
      width: auto;
      > span {
        font-size: 12px;
      }
    }

    &-links {
      > a {
        font-size: 12px;
      }
    }

    &-contatos {
      > a {
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    &-span {
      &-experimente {
        display: none;
      }

      &-login {
        display: none;
      }
    }
  }

  .content {
    &-container {
      line-height: 5vh;
      > span:first-child {
        font-size: $font-size-18;
      }

      > span:nth-child(2) {
        font-size: 32px;
      }

      &-button {
        > button {
          width: 20vw;
        }
      }
    }

    .img-bg {
      > img {
        width: 40vw;
      }
    }
  }

  .screen {
    &-img {
      width: 80vw;
    }

    &-descriptions {
      > span:first-child {
        font-size: 20px;
      }

      > p {
        font-size: $font-size-16;
      }
    }
  }

  .icon {
    font-size: 32px;
  }
}

@media screen and (min-width: 993px) {
  .header {
    &-flex {
      padding: 2vh 10vw 2vh 10vw;
    }

    &-span {
      color: $white;
      letter-spacing: 0.5px;
      cursor: pointer;

      &-experimente {
        font-size: $font-size-14;
        background-color: #424cd6;
        border-radius: 5px;
        text-align: center;
        width: 15%;
        padding: 5px;
      }

      &-login {
        font-size: $font-size-14;
        border: 1px solid $white;
        width: 10%;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
      }
    }
  }

  .content {
    padding: 5vh 5vw 5vh 5vw;

    &-container {
      align-self: center;
      line-height: 6vh;

      > span:first-child {
        font-size: 22px;
      }

      > span:nth-child(2) {
        font-size: 48px;
      }

      &-button {
        > button {
          width: 15vw;
        }
      }
    }

    .img-bg {
      > img {
        width: 30vw;
      }
    }
  }

  .screen {
    display: flex;
    align-items: center;

    &-img {
      width: 60vw;
    }

    &-descriptions {
      > span:first-child {
        font-size: 25px;
      }

      > p {
        font-size: $font-size-18;
      }
    }
  }

  .icon {
    display: none;
  }

  .button-icon {
    display: none;
  }

  .logo {
    padding-right: 30vw;
  }
}
