<div class="container">
    <div class="header">
        <div class="header-flex">
            <div class="logo">
                <img src="./../../../assets/logo-izi.png">
            </div>

            <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="redirectLogin()">Login</button>
                <button mat-menu-item (click)="redirectCadastroUsuario()">Experimente</button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="appMenu" class="button-icon">
                <mat-icon class="icon">dehaze</mat-icon>
            </button>

            <div class="header-span header-span-experimente" (click)="redirectCadastroUsuario()">
                <span>EXPERIMENTE</span>
            </div>
            <div class="header-span header-span-login" (click)="redirectLogin()">
                <span>LOGIN</span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-flex">
            <div class="content-container">
                <span>Se organizar nunca foi tão fácil</span>
                <span>Seus projetos de um jeito divertido, flexível e gratificante.</span>
                <div class="content-container-button">
                    <button (click)="redirectCadastroUsuario()">EXPERIMENTE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-dashboard">
        <div class="screen-dashboard-flex">
            <div class="container-dashboard-content">
                <span>Dados importantes num só lugar</span>
                <span>Veja o progresso e tempos dos projetos e se antecipe de qualquer imprevisto.</span>
            </div>
            <img src="./../../../assets/Dashboard.png">
        </div>
    </div>
    <div class="content-prototype-quadros">
        <div class="screen-quadros">
            <img src="../../../assets/screen_quadros.png">
            <div class="screen-quadros-descricao">
                <span>Tenha controle dos seus projetos</span>
                <span>Visualize todos os seus projetos e tenha controle de tudo que acontece de forma rápida e
                    resumida</span>
            </div>
        </div>
    </div>
    <div class="container-descricao">
        <div class="container-descricao-content">
            <span>Veja o andamento dos seus projetos no modelo Kanban</span>
            <span>"Agilidade é a habilidade de criar e responder a mudanças com respeito ao resultado financeiro do
                projeto em um turbulento ambiente de negócios. Agilidade é a habilidade de balancear flexibilidade com
                estabilidade". (Highsmith, Jim. Agile Project Management, 2002)</span>
        </div>
    </div>
    <div class="container-screen-teams">
        <div class="screen-teams-flex">
            <div class="container-screen-teams-content">
                <span>Crie e gerencie suas equipes rapidamente</span>
                <span>Com um gerenciamento rápido das equipes, sem muita enrolação, com poucos cliques já temos uma
                    equipe pronta para alocar nos seus projetos.</span>
            </div>
            <img src="./../../../assets/screen_teams.png">
        </div>
    </div>
    <div class="footer-izi">
        <div>
            <span>© Copyright 2020. All Rights Reserved.</span>
        </div>
    </div>
</div>