<div class="container">
    <div class="header">
        <div class="header-flex">
            <div class="logo">
                <img src="./../../../assets/logo-izi.png">
            </div>

            <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="redirectLogin()">Login</button>
                <button mat-menu-item (click)="redirectCadastroUsuario()">Experimente</button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="appMenu" class="button-icon">
                <mat-icon class="icon">dehaze</mat-icon>
            </button>

            <div class="header-span header-span-experimente" (click)="redirectCadastroUsuario()">
                <span>EXPERIMENTE</span>
            </div>
            <div class="header-span header-span-login" (click)="redirectLogin()">
                <span>LOGIN</span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-flex">
            <div class="content-container">
                <span>Se organizar nunca foi tão fácil</span>
                <span>Seus projetos de um jeito divertido, flexível e gratificante.</span>
                <div class="content-container-button">
                    <button (click)="redirectCadastroUsuario()">EXPERIMENTE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content-prototype-quadros">
        <div class="screen-quadros">
            <img src="../../../assets/screen_quadros.png">
            <div class="screen-quadros-descricao">
                <span>Lorem Ipsum dolor set</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl habitasse
                    pellentesque ipsum,
                    phasellus mi. Quis sapien lorem velit, egestas tempor euismod gravida</span>
            </div>
        </div>
    </div>
    <div class="container-descricao">
        <div class="container-descricao-content">
            <span>Lorem ipsum dolor sit amet</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl habitasse pellentesque
                ipsum, phasellus
                mi. Quis sapien lorem velit, egestas tempor euismod gravida</span>
        </div>
    </div>
    <div class="container-screen-teams">
        <div class="screen-teams-flex">
            <div class="container-screen-teams-content">
                <span>Lorem ipsum dolor sit amet</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl habitasse
                    pellentesque
                    ipsum, phasellus
                    mi. Quis sapien lorem velit, egestas tempor euismod gravida</span>
            </div>
            <img src="./../../../assets/screen_teams.png">
        </div>
    </div>
    <div class="footer-izi">
        <div>
            <span>© Copyright 2020. All Rights Reserved.</span>
        </div>
    </div>
</div>