@import "../../styles/variaveis.scss";

.container {
  contain: content;
}

.header {
  background-color: $white;
  position: sticky;
  top: 0;

  &-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 5vw 2vh 5vw;
  }
}

.logo {
  padding-right: 5px;
}

.button-icon {
  background: transparent;
  border: 1.5px solid #00aca1;
  border-radius: 6px;
  outline: none;
}

.icon {
  color: #00aca1;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 2vh 2vw 2vh 2vw;
  background-image: url(./../../../assets/bg_landing.png);
  background-size: cover;
  height: 70vh;
  display: flex;

  &-flex {
    display: flex;
    justify-content: space-around;
  }

  &-container {
    display: flex;
    flex-direction: column;
    width: 55vw;
    justify-content: center;

    > span:first-child {
      color: $white;
      padding: 5px 0px 0px 5px;
    }

    > span:nth-child(2) {
      color: $white;
      padding: 5px 5px 25px 5px;
    }

    &-button {
      padding: 0px 0px 0px 5px;

      > button {
        border: none;
        border-radius: 6px;
        background: #00aca1;
        color: $white;
        height: 35px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

.content-prototype-quadros {
  background-color: #0b4d89;
  height: 70vh;
  display: flex;

  .screen-quadros {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    > img {
      padding: 2vw;
    }

    &-descricao {
      display: flex;
      flex-direction: column;
      color: white;
      width: 25vw;
      padding: 5vw;

      > span:first-child {
        font-size: 30px;
        padding-bottom: 5vh;
        line-height: 5vh;
      }

      > span:last-child {
        font-size: 16px;
      }
    }
  }
}

.container-descricao {
  background-image: url("../../../assets/bg_landing2.png");
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;

    > span:first-child {
      font-size: 30px;
      padding-bottom: 5vh;
    }
    > span:last-child {
      width: 35vw;
      font-size: 16px;
    }
  }
}

.container-screen-teams {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;

  &-content {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 2vw;

    > span:first-child {
      font-size: 30px;
      color: #0b4d89;
      padding-bottom: 5vh;
    }

    > span:last-child {
      font-size: 16px;
    }
  }
}

.screen-teams-flex {
  display: flex;
  align-items: center;
}

.footer-izi {
  height: 10vh;
  background-color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777777;
}

@media screen and (max-width: 768px) {
  .header {
    &-span {
      &-experimente {
        display: none;
      }

      &-login {
        display: none;
      }
    }
  }

  .content {
    &-container {
      line-height: 4vh;
      > span:first-child {
        font-size: $font-size-16;
      }

      > span:nth-child(2) {
        font-size: 25px;
      }

      &-button {
        > button {
          width: 25vw;
        }
      }
    }
  }

  .content-prototype-quadros {
    .screen-quadros {
      flex-direction: column;

      > img {
        height: 35vh;
        padding: 0px;
      }

      &-descricao {
        width: auto;
        padding: 0px;

        > span:first-child {
          padding: 2vh;
        }

        > span:last-child {
          padding: 2vh;
        }
      }
    }
  }

  .container-descricao {
    &-content {
      align-items: center;

      > span:last-child {
        width: 65vw;
      }
    }
  }

  .container-screen-teams {
    &-content {
      width: 75vw;

      > span:first-child {
        font-size: 30px;
        color: #0b4d89;
        padding-bottom: 5vh;
      }

      > span:last-child {
        font-size: 16px;
      }
    }
  }

  .screen-teams-flex {
    flex-direction: column;

    > img {
      height: 35vh;
    }
  }

  .icon {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    &-span {
      &-experimente {
        display: none;
      }

      &-login {
        display: none;
      }
    }
  }

  .content {
    &-container {
      line-height: 5vh;
      > span:first-child {
        font-size: $font-size-18;
      }

      > span:nth-child(2) {
        font-size: 32px;
      }

      &-button {
        > button {
          width: 20vw;
        }
      }
    }
  }

  .icon {
    font-size: 32px;
  }

  .content-prototype-quadros {
    justify-content: center;

    .screen-quadros {
      width: auto;
      flex-direction: column;

      > img {
        padding: 2vw;
        height: 45vh;
      }

      &-descricao {
        width: 50vw;
        padding: 0px;
      }
    }
  }

  .container-descricao {
    &-content {
      align-items: center;

      > span:last-child {
        width: 50vw;
      }
    }
  }

  .container-screen-teams {
    &-content {
      width: 65vw;
    }
  }

  .screen-teams-flex {
    flex-direction: column;

    > img {
      height: 45vh;
    }
  }
}

@media screen and (min-width: 993px) {
  .header {
    &-flex {
      padding: 2vh 10vw 2vh 10vw;
    }

    &-span {
      color: $white;
      letter-spacing: 0.5px;
      cursor: pointer;

      &-experimente {
        font-size: $font-size-14;
        background-color: #00aca1;
        border-radius: 5px;
        text-align: center;
        width: 15%;
        padding: 5px;
      }

      &-login {
        font-size: $font-size-14;
        border: 1px solid #00aca1;
        width: 10%;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        color: #00aca1;
      }
    }
  }

  .content {
    padding: 5vh 5vw 5vh 5vw;

    &-container {
      align-self: center;
      line-height: 6vh;

      > span:first-child {
        font-size: 22px;
      }

      > span:nth-child(2) {
        font-size: 48px;
      }

      &-button {
        > button {
          width: 15vw;
        }
      }
    }
  }

  .icon {
    display: none;
  }

  .button-icon {
    display: none;
  }

  .logo {
    padding-right: 30vw;
  }
}
