<div class="container">
    <div class="header">
        <div class="header-flex">
            <div class="logo">
                <img src="./../../../assets/logo-izi.png">
            </div>

            <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="redirectLogin()">Login</button>
                <button mat-menu-item (click)="redirectCadastroUsuario()">Experimente</button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="appMenu" class="button-icon">
                <mat-icon class="icon">dehaze</mat-icon>
            </button>

            <div class="header-span header-span-experimente" (click)="redirectCadastroUsuario()">
                <span>EXPERIMENTE</span>
            </div>
            <div class="header-span header-span-login" (click)="redirectLogin()">
                <span>LOGIN</span>
            </div>
        </div>
        <!-- <div class="header-shadow">
        </div> -->
    </div>
    <div class="content">
        <div class="content-flex">
            <div class="content-container">
                <span>Se organizar nunca foi tão fácil</span>
                <span>Seus projetos de um jeito divertido, flexível e gratificante.</span>
                <div class="content-container-button">
                    <button (click)="redirectCadastroUsuario()">EXPERIMENTE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content-prototype-quadros">
        <div class="screen-quadros">
            <img style="padding: 2vw;" src="../../../assets/screen_quadros.png">
            <div class="screen-quadros-descricao">
                <span>Lorem Ipsum dolor set</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl habitasse
                    pellentesque ipsum,
                    phasellus mi. Quis sapien lorem velit, egestas tempor euismod gravida</span>
            </div>
        </div>
    </div>
    <div class="content-descricao">
        <div style="display: flex;
        flex-direction: column;
        text-align: center;
        color: white;">
            <span style="font-size: 30px;
            padding-bottom: 5vh;">Lorem ipsum dolor sit amet</span>
            <span style="width: 35vw;
            font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl habitasse pellentesque
                ipsum, phasellus
                mi. Quis sapien lorem velit, egestas tempor euismod gravida</span>
        </div>
    </div>
    <div style="display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;">
        <div style="    display: flex;
        align-items: center;">
            <div style="display: flex;
            flex-direction: column;
            width: 30vw;
            padding: 2vw;">
                <span style="font-size: 30px;
                color: #0B4D89;
                padding-bottom: 5vh;">Lorem ipsum dolor sit amet</span>
                <span style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl habitasse
                    pellentesque
                    ipsum, phasellus
                    mi. Quis sapien lorem velit, egestas tempor euismod gravida</span>
            </div>
            <img src="./../../../assets/screen_teams.png">
        </div>
    </div>
    <div style="height: 10vh;
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;">
        <div>
            <span style="color: #777777;">© Copyright 2020. All Rights Reserved.</span>
        </div>
    </div>





    <!-- <div class="content-prototype">
        <div class="screen">
            <img class="screen-img" src="./../../../assets/screen.png">
            <div class="screen-descriptions">
                <span>Lorem ipsum dolor sit amet</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Morbi tincidunt ornare massa eget egestas purus viverra accumsan. Id faucibus
                    nisl
                    tincidunt eget nullam.
                </p>
            </div>
        </div>
    </div> -->
    <!-- <div class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="../../../assets/logo_footer.png">
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et
                    dolore magna aliqua. Morbi tincidunt ornare massa eget egestas purus viverra accumsan. Id faucibus
                    nisl
                    tincidunt eget nullam.
                </span>
            </div>
            <div class="footer-links">
                <span>LINKS</span>
                <a (click)="redirectLogin()">Entre com a sua conta</a>
                <a (click)="redirectCadastroUsuario()">Experimente o IziTask</a>
            </div>
            <div class="footer-contatos">
                <span>CONTATOS</span>
                <a><i class="material-icons">email</i>Dhiego - dhiegorodrigues@hotmail.com</a>
                <a><i class="material-icons">email</i>Guilherme - guilherme.guerra9@hotmail.com</a>
                <a><i class="material-icons">email</i>Yuri - yuribarsotti@gmail.com</a>
            </div>
        </div>
    </div> -->
</div>