<div class="container">
    <div class="header">
        <div class="header-flex">
            <div class="logo">
                <img src="./../../../assets/logo-izi.png">
            </div>
            <span class="material-icons icon">
                dehaze
            </span>
            <span class="header-span header-span-experimente">EXPERIMENTE!</span>
            <span class="header-span header-span-login">LOGIN</span>
        </div>
    </div>
    <div class="header-shadow">
    </div>
    <div class="content">
        <div class="content-flex">
            <div class="content-container">
                <span>Se organizar nunca foi tão fácil</span>
                <span>Seus projetos de um jeito divertido, flexível e gratificante.</span>
                <div class="content-container-button">
                    <button>Experimente já!</button>
                </div>
            </div>
            <div class="img-bg">
                <img src="./../../../assets/img-bg.png">
            </div>
        </div>
    </div>
    <div class="content-prototype">
        <div class="screen">
            <img class="screen-img" src="./../../../assets/screen.png">
            <div class="screen-descriptions">
                <span>Lorem ipsum dolor sit amet</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Morbi tincidunt ornare massa eget egestas purus viverra accumsan. Id faucibus
                    nisl
                    tincidunt eget nullam.
                </p>
            </div>
        </div>
    </div>
</div>