<!-- <app-header-izi></app-header-izi> -->
<div style="padding: 10vh;">
    <div style="border-bottom: 1px solid #D5D5D5;
    font-size: 30px;
    padding: 15px;">
        <span>{{quadroSelecionado.nomeQuadro}}</span>
    </div>
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
        <div style="padding: 5vh;">
            <div style="display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #D8D8D8;
            height: 10vh;
            justify-content: space-around;">
                <span style="font-size: 18px;">Criar tarefa</span>
                <span style="font-size: 12px; color: #B6B3B3;">clique no time para adicionar uma tarefa</span>
            </div>
            <div>
                <div style="height: 30px;
                display: flex;
                align-items: center;
                background-color: #00ACA1;
                padding: 10px;
                color: white; justify-content: space-between; cursor: pointer;" (click)="openCadastroTarefa()">
                    <span>{{ quadroSelecionado.equipe.nome }}</span>
                    <span class="material-icons">add</span>
                </div>
            </div>
        </div>

        <div style="padding: 5vh;">
            <div style="display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #D8D8D8;
            margin-bottom: 3vh;
            height: 5vh;
            justify-content: center;
            font-size: 18px;">TO DO
            </div>
            <div *ngFor="let taskToDo of listaToDo" style="padding: 10px;
            background-color: lightyellow;
            margin-bottom: 5px; height: 10vh; display: flex;
    flex-direction: column;
    justify-content: space-between; cursor: pointer;" (click)="openTarefaDetalhe(taskToDo)">
                <div style="font-weight:bold;">
                    <span>{{ taskToDo.titulo }}</span>
                </div>
                <div style="display: flex; align-items: center;">
                    <span class="material-icons" style="font-size: 22px;">person_pin</span>
                    <span style="font-size: 12px;">{{ taskToDo.responsavel }}</span>
                </div>
            </div>
        </div>
        <div style="padding: 5vh;">
            <div style="display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #D8D8D8;
            margin-bottom: 3vh;
            height: 5vh;
            justify-content: center;
            font-size: 18px;">PROGRESS
            </div>
            <div *ngFor="let taskProgress of listaProgress" style="padding: 10px;
            background-color: lightblue;
            margin-bottom: 5px; height: 10vh; display: flex;
    flex-direction: column;
    justify-content: space-between;cursor: pointer;" (click)="openTarefaDetalhe(taskProgress)">
                <div style="font-weight:bold;">
                    <span>{{ taskProgress.titulo }}</span>
                </div>
                <div style="display: flex; align-items: center;">
                    <span class="material-icons" style="font-size: 22px;">person_pin</span>
                    <span style="font-size: 12px;">{{ taskProgress.responsavel }}</span>
                </div>
            </div>
        </div>
        <div style="padding: 5vh;">
            <div style="display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #D8D8D8;
            margin-bottom: 3vh;
            height: 5vh;
            justify-content: center;
            font-size: 18px;">DONE
            </div>
            <div *ngFor="let taskDone of listaDone" style="padding: 10px;
            background-color: lightgreen;
            margin-bottom: 5px; height: 10vh; display: flex;
    flex-direction: column;
    justify-content: space-between;cursor: pointer;" (click)="openTarefaDetalhe(taskDone)">
                <div style="font-weight:bold;">
                    <span>{{ taskDone.titulo }}</span>
                </div>
                <div style="display: flex; align-items: center;">
                    <span class="material-icons" style="font-size: 22px;">person_pin</span>
                    <span style="font-size: 12px;">{{ taskDone.responsavel }}</span>
                </div>
            </div>
        </div>
    </div>
</div>