<app-header-izi></app-header-izi>
<div style="padding: 10vh;">
    <div style="border-bottom: 1px solid #D5D5D5;
    font-size: 30px;
    padding: 15px;">
        <span>{{nomeQuadro}}</span>
    </div>
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
        <div style="padding: 5vh;">
            <div style="display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #D8D8D8;
            height: 10vh;
            justify-content: space-around;">
                <span style="font-size: 18px;">Criar tarefa</span>
                <span style="font-size: 12px; color: #B6B3B3;">clique no time para adicionar uma tarefa</span>
            </div>
            <div>
                <div style="height: 30px;
                display: flex;
                align-items: center;
                background-color: chocolate;
                padding: 10px;
                color: white; justify-content: space-between;">
                    <span>TIME 1</span>
                    <span class="material-icons">add</span>
                </div>
                <div style="height: 30px;
                display: flex;
                align-items: center;
                background-color: greenyellow;
                padding: 10px; color: white; justify-content: space-between;">
                    <span>TIME 2</span>
                    <span class="material-icons">add</span>
                </div>
                <div style="height: 30px;
                display: flex;
                align-items: center;
                background-color: red;
                padding: 10px; color: white; justify-content: space-between;">
                    <span>TIME 3</span>
                    <span class="material-icons">add</span>
                </div>
                <div style="height: 30px;
                display: flex;
                align-items: center;
                background-color: aqua;
                padding: 10px; color: white; justify-content: space-between;">
                    <span>TIME 4</span>
                    <span class="material-icons">add</span>
                </div>
            </div>
        </div>

        <div style="padding: 5vh;">
            <div style="display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #D8D8D8;
            margin-bottom: 3vh;
            height: 5vh;
            justify-content: center;
            font-size: 18px;">TO DO
            </div>
            <div style="    padding: 10px;
            background-color: antiquewhite;
            margin-bottom: 5px;"><span>Quadro 1</span></div>
            <div style="    padding: 10px;
            background-color: lightblue;
            margin-bottom: 5px;"><span>Quadro 2</span></div>
            <div style="    padding: 10px;
            background-color: lightsalmon;
            margin-bottom: 5px;"><span>Quadro 3</span></div>
            <div style="    padding: 10px;
            background-color: mediumslateblue;
            margin-bottom: 5px;"><span>Quadro 4</span></div>
        </div>
        <div style="padding: 5vh;">
            <div style="display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #D8D8D8;
            margin-bottom: 3vh;
            height: 5vh;
            justify-content: center;
            font-size: 18px;">PROGRESS
            </div>
            <div style="    padding: 10px;
            background-color: antiquewhite;
            margin-bottom: 5px;"><span>Quadro 1</span></div>
            <div style="    padding: 10px;
            background-color: lightblue;
            margin-bottom: 5px;"><span>Quadro 2</span></div>
            <div style="    padding: 10px;
            background-color: lightsalmon;
            margin-bottom: 5px;"><span>Quadro 3</span></div>
            <div style="    padding: 10px;
            background-color: mediumslateblue;
            margin-bottom: 5px;"><span>Quadro 4</span></div>
        </div>
        <div style="padding: 5vh;">
            <div style="display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #D8D8D8;
            margin-bottom: 3vh;
            height: 5vh;
            justify-content: center;
            font-size: 18px;">DONE
            </div>
            <div style="    padding: 10px;
            background-color: antiquewhite;
            margin-bottom: 5px;"><span>Quadro 1</span></div>
            <div style="    padding: 10px;
            background-color: lightblue;
            margin-bottom: 5px;"><span>Quadro 2</span></div>
            <div style="    padding: 10px;
            background-color: lightsalmon;
            margin-bottom: 5px;"><span>Quadro 3</span></div>
            <div style="    padding: 10px;
            background-color: mediumslateblue;
            margin-bottom: 5px;"><span>Quadro 4</span></div>
        </div>
    </div>
</div>