<div class="modal-background" [style.display]=" show ? 'block' : 'none'">
    <div class="modal">
        <div class="modal-body">
            <div style="display: flex;
            justify-content: flex-end;
            padding: 5px 16px;" (click)="fecharModal()">
                <i class="material-icons" style="cursor: pointer;">close</i>
            </div>
            <div class="modal-header">
                <h1>Convidar amigo</h1>
                <span>Convide seus amigos para participar de uma das melhores ferramentas de organização de
                    tarefa!</span>
            </div>
            <div style="display: flex;
            flex-direction: column;
            padding: 16px;">
                <span style="padding-bottom: 10px">Adicione os e-mail desejados abaixo:</span>
                <input style="border: none;
                box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
                height: 25px;
                padding: 5px;
                outline: none;">
            </div>
        </div>

        <div class="modal-footer" matTooltip="Em implementação">
            <button role="button">
                Convidar
            </button>
        </div>
    </div>
</div>