.tarefa {
    font-weight: bold;
    &-todo {
        background-color: lightyellow;
    }

    &-progress {
        background-color: lightblue;
    }

    &-done {
        background-color: lightgreen;
    }
}
