<app-modal [show]="showModal" [modalConfiguration]="modalConfig"></app-modal>
<!-- <app-header-izi></app-header-izi> -->
<div style="padding: 10vh;">
    <div style="border-bottom: 1px solid #D5D5D5;
    font-size: 30px;
    padding: 15px;">
        <span>{{ nomeQuadro }}</span>
    </div>
    <div style="display: flex;">
        <div style="display: flex; flex-direction: column; width: 15vw;">
            <div style="padding: 3vh 0vh 3vh 0vh;">
                <span style="color: #B3B0B0;">Status da tarefa: <span
                        style="color: #00ACA1;">{{ tarefaSelecionada.status }}</span></span>
            </div>
            <div style="height: 10vh;
            padding: 5px;" class="tarefa"
                [ngClass]="{'tarefa-todo': tarefaSelecionada.status === 'TODO', 'tarefa-progress': tarefaSelecionada.status === 'PROGRESS', 'tarefa-done': tarefaSelecionada.status === 'DONE'}">
                <span>{{tarefaSelecionada.titulo}}</span>
            </div>
            <div style="padding-top: 2vh;">
                <div style="display: flex; flex-direction: column;">
                    <span>Mover para:</span>
                    <select>
                        <option>To Do</option>
                        <option>Progress</option>
                        <option>Done</option>
                    </select>
                    <!-- <input> -->
                </div>
                <div style="display: flex; flex-direction: column; padding-top: 5vh;">
                    <span>Trocar time</span>
                    <select>
                        <option>Dev</option>
                    </select>
                    <!-- <input> -->
                </div>
                <div style="display: flex; flex-direction: column; padding-top: 5vh; height: 10vh;
                justify-content: space-around;">
                    <button style="border: none;
                    background-color: #949494;
                    color: white;
                    border-radius: 6px;
                    padding: 5px; cursor: pointer;" (click)="voltarQuadroBacklog()">Voltar</button>
                    <button style="border: none;
                    background-color: red;
                    color: white;
                    border-radius: 6px;
                    padding: 5px; cursor: pointer;" (click)="openModal()">Excluir tarefa</button>
                </div>
            </div>
        </div>
        <div style="padding: 5vh; width: 40vw;display: flex;
        flex-direction: column;
        justify-content: space-between;">
            <div style="display: flex;
        flex-direction: column;">
                <span style="color: #7E7E7E;">Descrição</span>
                <textarea rows="10"
                    style="border:1px solid #CFCFCF; outline: none; border-radius: 6px; padding: 5px;"></textarea>
            </div>
            <div style="display: flex;
        flex-direction: column;">
                <span style="color: #7E7E7E;">Responsável</span>
                <input style="border:1px solid #CFCFCF; outline: none; border-radius: 6px; height: 30px;
            padding: 5px;">
            </div>
            <div style="display: flex;
            justify-content: flex-end;">
                <button style="border: none;
                background-color: #424CD6;
                color: white;
                padding: 10px;
                border-radius: 6px; cursor: pointer;">Confirmar</button>
            </div>
        </div>
    </div>

</div>