<app-modal [show]="showModal" [modalConfiguration]="modalConfig"></app-modal>
<app-header-izi></app-header-izi>
<div style="padding: 10vh;">
    <div style="border-bottom: 1px solid #D5D5D5;
    font-size: 30px;
    padding: 15px;">
        <span>Quadro XYZ</span>
    </div>
    <div style="display: flex;">
        <div style="display: flex; flex-direction: column;">
            <div style="padding: 3vh 0vh 3vh 0vh;">
                <span style="color: #B3B0B0;">Status da tarefa: <span style="color: #00ACA1;">TO DO</span></span>
            </div>
            <div style="height: 10vh;
            background-color: antiquewhite;
            padding: 5px;">
                <span>Lorem Ipsum Gravida Lacte Ipso</span>
            </div>
            <div style="padding-top: 2vh;">
                <div style="display: flex; flex-direction: column;">
                    <span>Mover para:</span>
                    <input>
                </div>
                <div style="display: flex; flex-direction: column; padding-top: 5vh;">
                    <span>Trocar time</span>
                    <input>
                </div>
                <div style="display: flex; flex-direction: column; padding-top: 5vh; height: 10vh;
                justify-content: space-around;">
                    <button style="border: none;
                    background-color: #949494;
                    color: white;
                    border-radius: 6px;
                    padding: 5px;">Voltar</button>
                    <button style="border: none;
                    background-color: #424CD6;
                    color: white;
                    border-radius: 6px;
                    padding: 5px;" (click)="openModal()">Excluir tarefa</button>
                </div>
            </div>
        </div>
        <div style="padding: 5vh; width: 40vw;">
            <div style="display: flex;
        flex-direction: column;">
                <span style="color: #7E7E7E;">Descrição</span>
                <textarea rows="10"
                    style="border:1px solid #CFCFCF; outline: none; border-radius: 6px; padding: 5px;"></textarea>
            </div>
            <div style="display: flex;
        flex-direction: column;">
                <span style="color: #7E7E7E;">Responsável</span>
                <input style="border:1px solid #CFCFCF; outline: none; border-radius: 6px; height: 30px;
            padding: 5px;">
            </div>
        </div>
    </div>

</div>