<div *ngIf="quadrosFavoritos.length >= 1">
    <div style="padding-top: 5vh; padding-bottom: 10px; display: flex; align-items: center;">
        <span class="material-icons" style="border-radius: 6px; font-size: 20px;">star_outline</span>
        <span style="padding-left: 5px; font-size: 18px;">Favoritos</span>
    </div>
    <div>
        <div class="container">
            <div class="quadro-container">
                <div style="cursor: pointer;">
                    <span class="nome-quadro">{{ projeto.nomeQuadro }}</span>
                </div>
                <div style="display: flex;
                align-items: center;
                border-bottom: 1px dotted #00ACA1;
                color: #0b4d89;
                font-weight: bold;">
                    <span class="material-icons" style="font-size: 16px; padding: 5px;">group</span>
                    <span>{{ projeto.time }}</span>
                </div>
                <div class="quadro-fav">
                    <div style="display: flex; align-items: center; color: #0b4d89; font-weight: bold;"
                        matTooltip="To Do">
                        <span class="material-icons" style="font-size: 21px;">list</span>
                        <span style="font-size: 14px;">{{ projeto.todo }}</span>
                    </div>
                    <div style="display: flex; align-items: center; color: #0b4d89; font-weight: bold;"
                        matTooltip="Progress">
                        <span class="material-icons" style="font-size: 21px;">loop</span>
                        <span style="font-size: 14px;">{{ projeto.progress }}</span>
                    </div>
                    <div style="display: flex; align-items: center; color: #0b4d89; font-weight: bold;"
                        matTooltip="Done">
                        <span class="material-icons" style="font-size: 21px;">check_box</span>
                        <span style="font-size: 14px;">{{ projeto.done }}</span>
                    </div>
                    <span class="material-icons" (click)="addFavorito(projeto)" *ngIf="quadroFav">star</span>
                    <span class="material-icons" (click)="addFavorito(projeto)" *ngIf="!quadroFav">star_outline</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding-top: 5vh;">
    <div style="padding-bottom: 10px; display: flex; align-items: center;">
        <span class="material-icons" style="border: 1.5px solid black; border-radius: 6px; font-size: 20px;">list</span>
        <span style="padding-left: 5px; font-size: 18px;">Quadros</span>
    </div>
    <div class="container">
        <!-- <div *ngFor="let quadro of quadros" class="quadro-container">
            <div style="cursor: pointer;" (click)="onClickQuadro(quadro)">
                <span class="nome-quadro">{{ quadro.nomeQuadro }}</span>
            </div>
            <div style="display: flex;
            align-items: center;
            border-bottom: 1px dotted #00ACA1;
            color: #0b4d89;
            font-weight: bold;">
                <span class="material-icons" style="font-size: 16px; padding: 5px;">group</span>
                <span>{{ quadro.equipe.nome }}</span>
            </div>
            <div class="quadro-fav">
                <div style="display: flex; align-items: center; color: #0b4d89; font-weight: bold;" matTooltip="To Do">
                    <span class="material-icons" style="font-size: 21px;">list</span>
                    <span style="font-size: 14px;">{{ quadro.tarefasToDo }}</span>
                </div>
                <div style="display: flex; align-items: center; color: #0b4d89; font-weight: bold;"
                    matTooltip="Progress">
                    <span class="material-icons" style="font-size: 21px;">loop</span>
                    <span style="font-size: 14px;">{{ quadro.tarefasProgress }}</span>
                </div>
                <div style="display: flex; align-items: center; color: #0b4d89; font-weight: bold;" matTooltip="Done">
                    <span class="material-icons" style="font-size: 21px;">check_box</span>
                    <span style="font-size: 14px;">{{ quadro.tarefasDone }}</span>
                </div>
                <span class="material-icons" (click)="addFavorito(quadro)" *ngIf="quadro.favorito">star</span>
                <span class="material-icons" (click)="addFavorito(quadro)" *ngIf="!quadro.favorito">star_outline</span>
            </div>
        </div> -->
        <div class="quadro-container" *ngIf="projeto">
            <div style="cursor: pointer;" (click)="onClickQuadro()">
                <span class="nome-quadro">{{ projeto.nomeQuadro }}</span>
            </div>
            <div style="display: flex;
            align-items: center;
            border-bottom: 1px dotted #00ACA1;
            color: #0b4d89;
            font-weight: bold;">
                <span class="material-icons" style="font-size: 16px; padding: 5px;">group</span>
                <span>{{ projeto.time }}</span>
            </div>
            <div class="quadro-fav">
                <div style="display: flex; align-items: center; color: #0b4d89; font-weight: bold;" matTooltip="To Do">
                    <span class="material-icons" style="font-size: 21px;">list</span>
                    <span style="font-size: 14px;">{{ projeto.todo }}</span>
                </div>
                <div style="display: flex; align-items: center; color: #0b4d89; font-weight: bold;"
                    matTooltip="Progress">
                    <span class="material-icons" style="font-size: 21px;">loop</span>
                    <span style="font-size: 14px;">{{ projeto.progress }}</span>
                </div>
                <div style="display: flex; align-items: center; color: #0b4d89; font-weight: bold;" matTooltip="Done">
                    <span class="material-icons" style="font-size: 21px;">check_box</span>
                    <span style="font-size: 14px;">{{ projeto.done }}</span>
                </div>
                <span class="material-icons" (click)="addFavorito(projeto)" *ngIf="quadroFav">star</span>
                <span class="material-icons" (click)="addFavorito(projeto)" *ngIf="!quadroFav">star_outline</span>
            </div>
        </div>
        <div class="quadro-add" (click)="openCadastroQuadro()">
            <span class="material-icons" style="color: #a9a9a9; font-size: 50px;">add</span>
        </div>
    </div>
</div>