<div class="container">
    <div class="header">
        <div class="logo" (click)="redirectMenu()">
            <img src="./../../../assets/logo-izi.png">
        </div>
        <div class="header-descricao">
            <span>Organizar suas tarefas nunca foi tão fácil!</span>
        </div>
        <div class="user">
            <div class="user-foto">
                <span class="material-icons">account_circle</span>
            </div>
            <div class="header-account">
                <span class="user-name">Olá, Guilherme</span>
                <span></span>
                <span class="header-account-link" matTooltip="Em breve">Configurações</span>
                <span class="header-account-link" (click)="redirectLanding()">Sair</span>
            </div>
        </div>
    </div>
</div>