@import "../../styles/variaveis.scss";

.container {
    background-color: $white;
    height: 40px;
    padding: 10px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #cccccc;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &-descricao {
        color: $black;
    }

    &-account {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr;

        > span {
            padding: 0px 10px;
        }

        > span:last-child {
            border-left: 1px solid white;
        }

        &-link {
            color: #00ACA1;
            text-decoration: underline;
            font-size: 14px;
            cursor: pointer;
        }
    }
}

.logo {
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;

    &-foto {
        > span {
            font-size: 40px;
        }
    }

    &-name {
        color: $black;
    }
}
