<app-modal [show]="showModal" [modalConfiguration]="modalConfig"></app-modal>
<div class="container" style="background-color: white;">
    <div class="header">
        <div class="header-flex">
            <div class="logo" (click)="redirectLanding()">
                <img src="./../../../assets/logo-izi.png">
            </div>
        </div>
    </div>
    <div class="login-container">
        <div class="login-content">
            <div class="login-content-header">
                <span>Faça login em sua conta</span>
            </div>
            <div class="login-content-input">
                <div class="drop-login">
                    <form [formGroup]="contaForm" (ngSubmit)="login()">
                        <div class="drop-login-input">
                            <i class="material-icons">
                                person
                            </i>
                            <input placeholder="Email" type="text" [formControl]="contaForm.get('email')">
                        </div>
                        <div class="drop-login-input">
                            <i class="material-icons">
                                lock
                            </i>
                            <input placeholder="Senha" type="password" [formControl]="contaForm.get('senha')">
                        </div>
                        <div class="btn-entrar">
                            <button type="submit">Entrar
                                <span class="material-icons">
                                    arrow_forward
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="content-cadastro">
                <div class="content-cadastro-span">
                    <span>Não possui cadastro?</span>
                </div>
                <div>
                    <button class="btn-cadastrar" (click)="redirectCadastroUsuario()">Cadastre-se</button>
                </div>
            </div>
        </div>
    </div>
</div>