<div class="container" style="background-color: white;">
  <div class="header">
    <div class="header-flex">
      <div class="logo" (click)="redirectLanding()">
        <img src="./../../../assets/logo-izi.png">
      </div>
    </div>
  </div>
  <div class="login-container">
    <div class="login-content">
      <div class="login-content-header">
        <span>Facilite sua vida e aumente sua produtividade</span>
        <span>Crie a sua conta</span>
      </div>
      <form [formGroup]="usuarioForm" (ngSubmit)="createAccount()">
        <div class="login-content-input">
          <div class="drop-login">
            <div class="drop-login-input">
              <i class="material-icons">
                person
              </i>
              <input placeholder="Nome" type="text" [formControl]="usuarioForm.get('nome')">
            </div>
            <div class="drop-login-input">
              <i class="material-icons">
                person
              </i>
              <input placeholder="Sobrenome" type="text" [formControl]="usuarioForm.get('sobrenome')">
            </div>
            <div class="drop-login-input">
              <i class="material-icons">
                email
              </i>
              <input placeholder="Email" type="email" [formControl]="usuarioForm.get('email')">
            </div>
            <div class="drop-login-input">
              <i class="material-icons">
                lock
              </i>
              <input placeholder="Senha" type="password" [formControl]="usuarioForm.get('senha')">
            </div>
            <button type="submit">Cadastre-se
              <span class="material-icons">
                person_add
              </span>
            </button>
          </div>
        </div>
      </form>

      <div class="content-cadastro">
        <div class="content-cadastro-span">
          <span>Já possui cadastro? Entre com a sua conta</span>
        </div>
        <div>
          <button class="btn-cadastrar" (click)="redirectLogin()">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>